.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(../../../images/edit-vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: end;
  margin-bottom: 7px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
