.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: auto;
  column-gap: 18px;
  row-gap: 16px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 11px;
    justify-content: center;
    margin-left: 13px;
  }
}
