.popup__container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 358px;
  padding: 32px 36px;
  font-family: "Inter", sans-serif;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
