.popup__container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
}
