.popup__container {
  background-color: #fff;
  box-shadow: 0px 0px 25px;
  border-radius: 10px;
  max-width: 430px;
  padding: 32px 36px;
  font-family: "Inter", sans-serif;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 20px;
  }
}
