.profile {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  padding: 40px 0 0 0;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 40px 19px 0;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
  }
}
