.header__logo {
  max-width: 142px;
  margin: 45px auto 41px 0;
}

.header__logo:hover {
  color: #000;
  background-color: #e5e5e5;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin: 45px auto 41px 27px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    max-width: 103px;
    margin: 28px auto 32px 27px;
  }
}
