.elements__card-text {
  color: #000;
  text-align: start;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 246px;
  background-image: url(../../../images/smile.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin: 25px 15px 31px 21px;
}

.elements__card-text:last-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
