.elements__card-text {
  color: #000;
  text-align: start;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 190px;
  margin: 0;
  padding: 0;
}

.elements__card-text:last-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
