.popup__name {
  border: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  width: 100%;
  margin: 54px auto 30px auto;
  padding-bottom: 13px;
  border-bottom: 1px solid #000;
}

.popup__name:hover {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}
