.profile__subtitle {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
