.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  background-image: url(../../../images/add-vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: end;
  transition: opacity 0.5s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    width: 282px;
    justify-self: center;
    margin-top: 36px;
  }
}
