.elements__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-template-rows: auto;
  column-gap: 7px;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
