.popup__close {
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
