.popup__close {
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: none;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -30px;
    right: -2px;
  }
}
