.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin: 0 30px 0 0;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 22px;
    justify-self: center;
  }
}
