.popup__save-button {
  width: 100%;
  background-color: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 14px 130px;
  margin: 48px auto 0 auto;
  transition: opacity 0.5s ease;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .popup__save-button {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
