@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__data/popup__data.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__fieldset/popup__fieldset.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__cards/elements__cards.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__card-text/elements__card-text.css);
@import url(../blocks/elements/__card-image/elements__card-image.css);
@import url(../blocks/elements/__text-container/elements__text-container.css);
@import url(../blocks/elements/__like-button/elements__like-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
