.elements__button {
  width: 100%;
  background-image: url(../../../images/smile.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  border: 0;
  padding: 0;
  transition: opacity 0.5s ease;
}

.elements__button:hover {
  opacity: 0.5;
}
